.admin-container {
    display: grid;
    grid-template-columns: 300px auto;
}
.admin-sidebar-container {
    background-color: #19103f;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    /* margin: 0 auto; */
}
.admin-sidebar-container .link {
    color: #fff;
    text-decoration: none;
}
.admin-sidebar-container .link h1 {
    margin: 20px auto;
    padding: 0px 40px;
}
.admin-sidebar-container div {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin: 10px 0px;
    padding: 0px 55px;
}
.admin-sidebar-container div img {
    width: 25px;
    margin-right: 5px;
}
.admin-sidebar-container div h4 {
    margin: 10px 0px;
}
.active {
    background-color: #2f216a;
}