.login-container {
    border: 1px solid lightgray;
    max-width: 600px;
    min-height: 200px;
    margin: 200px auto;
    margin-bottom: 20px;
}
.login-container h2 {
    text-align: center;
}
.google-auth {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
}
.google-auth img {
    height: 32px;
    padding: 5px;
}
.google-auth h4 {
    margin: 5px 0px 5px 100px;
    padding: 8px 16px;
}
@media (max-width: 640px){
    .google-auth h4 {
        margin: auto;
    }
}  